* {
  box-sizing: border-box;
}

body {
  margin: 50px;
  font-size: 17px;
  /*background-color: darkgray;*/
} /*box-sizing border-box e body margin 0px são estruturas padrão na maioria dos projetos.*/

p {
  color: #990099;
  font-size: 20px;
  font-family: Helvetica;
  text-align: left;
}
