* {
  box-sizing: border-box;
}

body {
  margin: 0px;
} /*box-sizing border-box e body margin 0px são estruturas padrão na maioria dos projetos.*/

.link {
  color: green;
  font-size: 30px;
}

.link:hover {
  color: red;
}

.link:visited {
  color: pink;
}
