.container {
	display: flex;
	height: 500px;
	justify-content: center;
	align-items: center;
	background-color: #dddddd;
}

.container div {
	width: 100px;
	height: 100px;
	background-color: #ff0000;
	margin: 10px;
	padding: 10px;
	font-size: 18px;
}